.image-container{
    
    display: flex;
    justify-content: center;
    img {
        height: 300px;
        @media only screen and (max-width: 600px){
            height: 200px;
        }
    }
    
    
}